<ul class="list-unstyled">
  <% microposts.each do |m| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(m.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to m.user.name, user_path(m.user) %> <span class="text-muted">posted at <%= m.created_at %></span>
        </div>
        <div>
          <p><%= m.content %></p>
        </div>
        <div>
          <% if current_user == m.user %>
            <%= link_to "Delete", m, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            
          <% end %>
          <%= render 'favorites/like_button', micropost: m %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>